$color-accent: #213E6D
$color-text: #213E6D
$color-text-alt: #454545
$color-border: rgba(0, 0, 0, 0.30)
$color-background-alt: #FFFFFF
$color-background: #f4f4f4

$heading-font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif
$body-font-family: $heading-font-family

$header-border-bottom-width: 0
$header-background: none
$header-logo-height: 40px
$header-logo-height-desktop: 70px
$hero-background-color: none
$footer-logo-height: 40px
$footer-logo-height-desktop: 60px
$footer-background-color: none
