header#document-header
    nav
        .container
            flex-direction: column
            .logo
                margin-top: $spacing1
                margin-bottom: $spacing2
    .menu 
        .nav-level-1 
            > li
                a,
                span
                    padding: $spacing0
.hero
    .content 
        h1, 
        hgroup
            text-align: center
            width: 100%
        figure
            display: none

footer#document-footer 
    .container
        justify-content: center
        text-align: center